.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 400px
}

.card-body {
    width: 70%
}

label {
    float: left
}

.input-field {
    height: 40px!important;
    border-radius: 0;
    border: 1px solid #dcdcdc
}

.form-control:focus {
    outline: 0!important
}

.login-logo {
    font-size: 75px;
    margin-bottom: 15px;
    color: #b69364
}

input[type=submit] {
    height: 50px;
    border: none;
    background-color: #b69364;
    border-radius: 0;
    width: 100px;
    outline: 0
}

input[type=submit]:hover {
    background-color: #b69364!important
}

@media only screen and (max-width:768px) {
    .card {
        width: 90%
    }
}