nav {
    background-color: rgba(0, 0, 0, .3)!important;
    border: none!important;
    border-radius: 0!important;
    min-height: 80px;
    z-index: 10
}

.fr {
    font-family: Roboto, sans-serif
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px
}

.navbar-brand {
    padding: 20px
}

.navbar-default .navbar-nav>li>a {
    color: #fff!important
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #b69364
}

ul.nav>.open>.dropdown-menu {
    display: block;
    left: 0;
    min-width: 93px!important;
    border-radius: 0
}

#main {
    min-height: 100vh;
    padding-top: 0;
    position: relative;
    text-align: center;
    background: url(https://i.pinimg.com/originals/5c/f3/dc/5cf3dc9b57ad28bc6434f828e11fd83f.jpg) no-repeat center;
    background-size: cover;
    background-position: center
}

.inner {
    border: 1px solid red;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    color: #fff;
    font-size: xx-large;
    z-index: 10
}

.box:hover>.inner {
    display: inline-block
}

.overlay {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none
}

#footer .overlay,
#main>.overlay {
    background-color: #000;
    opacity: .5;
    display: inline-block
}

.content {
    position: relative;
    margin-top: 10%
}

.content h1 {
    color: #fff;
    font-weight: 700
}

.input-group {
    width: 50%;
    margin: auto;
    margin-top: 3em
}

input[type=text] {
    height: 50px
}

#search {
    height: 50px;
    border: none;
    background-color: #b69364;
    border-radius: 0;
    width: 100px;
    outline: 0
}

#search:hover {
    background-color: #b69364!important
}

.input-group-addon:last-child {
    padding: 0!important;
    padding-top: 0;
    border-right: 0
}

.input-group-addon:first-child {
    border-radius: 0;
    width: 140px
}

button[type=submit] {
    height: 50px;
    background-color: #b69364;
    border-color: #b69364;
    width: 100px;
    border-radius: 0
}

#city>.material-icons:last-child {
    margin: 0 10px 0 30px
}

.material-icons {
    vertical-align: middle
}

.navbar-brand .fa-cloud-meatball {
    font-weight: 900;
    font-size: 28px;
    color: #fff
}

#page-logo {
    font-weight: 900;
    color: #fff;
    font-size: 90px
}

.open>.dropdown-menu {
    display: block;
    left: -14px;
    min-width: 142px!important;
    border-radius: 0
}

section {
    padding: 5% 0
}

a {
    color: #555
}

a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: #555
}

#f-city {
    display: none
}

#feature {
    background-color: #f7f7f7
}

.heading {
    font-size: 16px;
    font-weight: 700;
    padding: 2% 0;
    margin: 0 20px
}

.card-image {
    height: 180px
}

.card-image img {
    height: 100%;
    width: 100%
}

.bold {
    font-weight: 700
}

.card-content .sub-heading {
    margin: 20px auto 5px
}

.card-content small {
    color: gray;
    margin-bottom: 20px
}

.resto-info {
    margin: 0 30px;
    border-bottom: 1px solid #cacaca
}

.resto-address {
    font-size: 12px;
    color: gray;
    margin-bottom: 20px
}

.about-resto {
    padding: 20px 0 10px
}

.about-resto i {
    display: block
}

.fa-star {
    color: gray
}

.checked {
    color: #000
}

.card {
    background-color: #fff
}

.rating {
    margin-top: 10px
}

.footer-list {
    list-style: none;
    padding: 0
}

#footer {
    background: url(http://www.levyrestaurants.com/wp-content/uploads/2019/10/Fall-Ingredient-Cover-Photo.gif);
    background-repeat: none;
    background-size: cover;
    padding: 0;
    position: relative;
    color: #fff
}

#footer .container {
    padding: 5% 0;
    position: relative
}

.footer-list>li>a {
    color: #e0e0e0;
    font-size: 12px
}

#popular-image {
    height: 200px;
    width: 100%
}

h3.fr {
    margin-top: 10px
}

.gray {
    color: gray
}

#popular-rating small {
    margin: 0 8px
}

small span {
    margin-right: 3px
}

.restaurant-list {
    margin: 10px auto
}

.twitter-typeahead {
    position: relative;
    display: block!important
}

.tt-input {
    border-radius: 0!important
}

.tt-menu {
    width: 100%!important;
    top: 30px!important
}

@media only screen and (max-width:992px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 12px
    }
    .navbar-toggle {
        border: none
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff
    }
    .navbar-brand {
        padding: 10px
    }
    #page-logo {
        font-size: 60px
    }
    .content h1 {
        font-size: 20px
    }
    .input-group {
        width: 95%
    }
    .input-group-addon:first-child {
        width: 110px
    }
    .card {
        margin: 20px auto
    }
    .heading {
        margin: 20px auto
    }
    #footer {
        text-align: center
    }
    .card-image {
        height: 250px
    }
    #footer .row {
        margin: 0
    }
    #popular-image {
        height: 260px;
        width: 100%;
        margin-bottom: 15px
    }
}

@media only screen and (max-width:768px) {
    .navbar-toggle {
        border: none
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff
    }
    .navbar-brand {
        padding: 10px
    }
    #page-logo {
        font-size: 45px
    }
    .content h1 {
        font-size: 20px
    }
    .input-group {
        width: 95%
    }
    .input-group-addon:first-child {
        width: 90px;
        font-size: 12px
    }
    #search {
        height: 50px;
        background-color: #b69364;
        width: 70px;
        font-size: 12px
    }
    .card {
        margin: 20px auto
    }
    .heading {
        margin: 20px auto
    }
    #footer {
        text-align: center
    }
    .card-image {
        height: 300px
    }
    #footer .row {
        margin: 0
    }
    #popular-image {
        height: 260px;
        width: 100%;
        margin-bottom: 15px
    }
    #city>.material-icons:last-child {
        margin: 0
    }
}

@media only screen and (max-width:480px) {
    .card-image {
        height: 180px
    }
}