#review {
    padding: 2% 0
}

.title {
    margin-bottom: 30px
}

.navbar {
    background-color: #b69364!important
}

.ur-img {
    height: 50px;
    width: 50px;
    border-radius: 50%
}

.review-header div {
    display: inline-block
}

.review-header div:nth-child(2) {
    vertical-align: middle
}

.review-details {
    margin-left: 20px
}

.review-content p {
    margin-left: 75px;
    font-size: 12px
}

.review-holder {
    border: 1px solid #dcdcdc;
    padding: 14px;
    border-radius: 5px;
    margin: 10px auto;
    min-height: 150px
}

#review-content {
    padding-top: 1%
}

#user-review {
    width: 100%;
    border-radius: 5px;
    resize: none;
    border: 1px solid #dcdcdc;
    min-height: 150px;
    padding: 10px
}

.alert>ul{
    list-style: none !important;
}
.alert-success {
    color: white;
    background-color: #b69364;
    border-color: #b69364;
}

#user-review:focus {
    outline: 0!important
}

.sub-heading {
    margin: 20px auto
}

#submit-review {
    height: 40px;
    border: none;
    background-color: #b69364;
    border-radius: 0;
    width: 100px;
    outline: 0;
    display: block
}

.form-group:last-child {
    float: left;
    width: 100%;
    margin-top: 20px
}

.rating {
    border: none;
    float: left;
    margin-top: 0!important
}

.rating>input {
    display: none
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005"
}

.rating>.half:before {
    content: "\f089";
    position: absolute
}

.rating>label {
    color: #ddd;
    float: right
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label,
.rating>input:checked~label {
    color: gold
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #ffed85
}